# do not copy local database files
p2p-dbs/

.github/
.git/
.vscode/

# Build artifacts
build/
coverage/

# Local data/config
.DS_Store
docker-compose.yml
juno/

# Documentation
docs/
README.md
LICENSE
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# Scripts/Other
scripts/