.DS_Store
.idea/
.vscode/
.dist
build/
coverage/*
config/
.envrc
.python-version
# Default path for Juno DB files.  It will get created if you follow the
# README and/or run `./build/juno` command.
/juno/
p2p-dbs