.DS_Store
.idea/
.vscode/
.dist
build/
coverage/*
courtney/
__pycache__/
config/
.envrc
seq-db/

# pyenv
.python-version

# Default path for Juno DB files.  It will get created if you follow the
# README and/or run `./build/juno` command.
juno/
