[package]
name = "juno-starknet-rs"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0.160"
serde_json = { version = "1.0.96", features = ["raw_value"] }
blockifier = {git = "https://github.com/starkware-libs/blockifier", rev = "13738b9"}
starknet_api = { git = "https://github.com/starkware-libs/starknet-api", rev = "a4c78ff" }
cairo-vm = "0.6"
cairo-lang-casm = "2.0.0"
cairo-lang-starknet = "2.0.0"

[lib]
crate-type = ["staticlib"]
