[package]
name = "juno-starknet-rs"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0.171"
serde_json = { version = "1.0.96", features = ["raw_value"] }
blockifier = "=0.5.0-rc.3"
starknet_api = "=0.8.0"
cairo-vm = "=0.9.2"
indexmap = "2.1.0"
cached = "0.46.1"
once_cell = "1.18.0"
lazy_static = "1.4.0"

# cairo-lang-* packages version should be in sync with starknet/rust/Cargo.toml cairo-lang-classes package
cairo-lang-casm = "=2.6.0-rc.1"
cairo-lang-runner = "=2.6.0-rc.1"
cairo-lang-starknet = "=2.6.0-rc.1"
cairo-lang-utils = "=2.6.0-rc.1"

[lib]
crate-type = ["staticlib"]
