name: Benchmark Sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at midnight UTC

permissions:
  contents: read
  id-token: write

env:
  DOCKER_REGISTRY: nethermind.jfrog.io
  IMAGE_REPO: nubia-oci-local-dev/juno
  BENCHMARK_TAG: nubia-oci-local-dev/juno-benchmark:latest

jobs:
  sync-benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Extract Git version
        id: extract_version
        run: echo "version=$(git describe --tags)" >> $GITHUB_OUTPUT

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v.3.11.1
        id: buildx

      - name: Install JFrog CLI
        id: jfrog
        uses: jfrog/setup-jfrog-cli@ff5cb544114ffc152db9cea1cd3d5978d5074946 # v4.5.11
        env:
          JF_URL: https://${{ env.DOCKER_REGISTRY }}
        with:
          oidc-provider-name: github-nethermindeth

      - name: Login to Registry with OIDC
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ steps.jfrog.outputs.oidc-user }}
          password: ${{ steps.jfrog.outputs.oidc-token }}

      - name: Create benchmark tag
        run: docker buildx imagetools create -t ${{ env.DOCKER_REGISTRY }}/${{ env.BENCHMARK_TAG }} ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_REPO }}:${{ steps.extract_version.outputs.version }}
