name: Docker Build, Publish and Deploy

on:
  push:
    branches: [main]
    tags: ['v*']
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  docker_build_and_publish:
    runs-on: ubuntu-latest
    outputs:
      IMAGE_TAG: ${{ steps.image_tag.outputs.IMAGE_TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Define_docker_image_tag
        id: image_tag
        run: |
          echo "DOCKER_IMAGE_TAG=$(git describe --tags)" >> $GITHUB_ENV
          echo "IMAGE_TAG=$(git describe --tags)" >> "$GITHUB_OUTPUT"
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: 'linux/amd64'
          push: true
          tags: nethermindeth/juno:${{ env.DOCKER_IMAGE_TAG }}
      
    
  deploy_to_dev:
    needs: [docker_build_and_publish]
    uses: NethermindEh/srgo/.github/workflows/dispatch_render_juno.yaml@main
    with:
      environment: Development
      IMAGE_TAG: ${{ needs.docker_build_and_publish.outputs.IMAGE_TAG }}
      GOERLI: apps/juno-dev/overlays/dev-goerli-1/config.yaml
      INTEGRATION: apps/juno-dev/overlays/dev-integration/config.yaml
      MAINNET: apps/juno-dev/overlays/dev-mainnet/config.yaml

  dev-starknet-rs-tests:
    needs: [deploy_to_dev]
    uses: ./.github/workflows/starknet-rs-tests.yml
    secrets:
      STARKNET_RPC: ${{ secrets.DEV_GOERLI_URL }}/v0_5
      
  dev-starknet-js-tests:
    needs: [deploy_to_dev]
    uses: ./.github/workflows/starknet-js-tests.yml
    secrets:
      TEST_RPC_URL: ${{ secrets.DEV_GOERLI_URL }}/v0_5
      TEST_ACCOUNT_ADDRESS: ${{ secrets.GOERLI_TEST_ACCOUNT_ADDRESS }}
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOERLI_TEST_ACCOUNT_PRIVATE_KEY }}
            
  deploy_to_staging:
    needs: [docker_build_and_publish, deploy_to_dev]
    uses: NethermindEh/srgo/.github/workflows/dispatch_render_juno.yaml@main
    with:
      environment: Staging
      IMAGE_TAG: ${{ needs.docker_build_and_publish.outputs.IMAGE_TAG }}
      GOERLI: apps/juno-staging/overlays/staging-goerli-1/config.yaml
      INTEGRATION: apps/juno-staging/overlays/staging-integration/config.yaml
      MAINNET: apps/juno-staging/overlays/staging-mainnet/config.yaml

  staging-starknet-rs-tests:
    needs: [deploy_to_staging]
    uses: ./.github/workflows/starknet-rs-tests.yml
    secrets:
      STARKNET_RPC: ${{ secrets.STAGING_GOERLI_URL }}/v0_5
      
  staging-starknet-js-tests:
    needs: [deploy_to_staging]
    uses: ./.github/workflows/starknet-js-tests.yml
    secrets:
      TEST_RPC_URL: ${{ secrets.STAGING_GOERLI_URL }}/v0_5
      TEST_ACCOUNT_ADDRESS: ${{ secrets.GOERLI_TEST_ACCOUNT_ADDRESS }}
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOERLI_TEST_ACCOUNT_PRIVATE_KEY }}

  deploy_to_production:
    needs: [docker_build_and_publish, deploy_to_staging]
    uses: NethermindEh/srgo/.github/workflows/dispatch_render_juno.yaml@main
    with: 
      environment: Production
      IMAGE_TAG: ${{ needs.docker_build_and_publish.outputs.IMAGE_TAG }}
      GOERLI: apps/juno-prod/overlays/prod-goerli-1/config.yaml
      INTEGRATION: apps/juno-prod/overlays/prod-integration/config.yaml
      MAINNET: apps/juno-prod/overlays/prod-mainnet/config.yaml
  
  prod-starknet-rs-tests:
    needs: [deploy_to_production]
    uses: ./.github/workflows/starknet-rs-tests.yml
    secrets:
      STARKNET_RPC: ${{ secrets.PROD_GOERLI_URL }}/v0_5
      
  prod-starknet-js-tests:
    needs: [deploy_to_production]
    uses: ./.github/workflows/starknet-js-tests.yml
    secrets:
      TEST_RPC_URL: ${{ secrets.PROD_GOERLI_URL }}/v0_5
      TEST_ACCOUNT_ADDRESS: ${{ secrets.GOERLI_TEST_ACCOUNT_ADDRESS }}
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOERLI_TEST_ACCOUNT_PRIVATE_KEY }}