name: Build Binaries

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            architecture: amd64
          - os: macOS-latest
            architecture: amd64
          - os: self-hosted
            architecture: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get latest tag
        id: tag
        run: echo "TAG=$(git describe --tags)" >> $GITHUB_ENV

      - name: Install dependencies (Ubuntu or self-hosted)
        if: runner.os == 'Linux'
        run: sudo apt-get update -qq && sudo apt-get install -y upx-ucl build-essential cargo git golang

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install upx cargo-c

      - name: Set up Go
        uses: actions/setup-go@v4.1.0
        with:
          go-version-file: go.mod
          
      - name: Build Juno
        run: |
          make juno
          upx build/juno
          mv build/juno juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}

      - name: Generate Checksum
        id: checksum
        run: |
          if [[ "${{ runner.os }}" == "macOS" ]]; then
            shasum -a 256 juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }} > juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}.sha256
          else
            sha256sum juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }} > juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}.sha256
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}
          path: |
            juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}
            juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}.sha256

      - name: Cleanup
        if: matrix.os == 'self-hosted'
        run: |
          rm juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}
          rm juno-${{ env.TAG }}-${{ runner.os }}-${{ matrix.architecture }}.sha256
