name: Deploy and Test on Dev

on:
  merge_group:
    branches: [main]
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ["v*"]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    # Skip for PRs from forks as they don't have access to secrets
    if: github.event_name != 'pull_request' || (!github.event.pull_request.head.repo.fork && !contains(github.event.pull_request.labels.*.name, 'disable-deploy-test'))
    permissions:
      actions: write
      contents: read
      id-token: write
    uses: ./.github/workflows/build-image.yaml

  smoke_test_100_blocks:
    needs: [build]
    uses: ./.github/workflows/smoke-test.yaml
    with:
      docker_image_tag: ${{ needs.build.outputs.docker_image_tag }}
    secrets:
      APP_ID: ${{ vars.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}

  dev_deploy_test:
    needs: [build]
    uses: ./.github/workflows/deploy-and-test.yaml
    with:
      docker_image_tag: ${{ needs.build.outputs.docker_image_tag }}
      environment: Development
      source_repo: nubia-oci-local-dev
      target_repo: nubia-oci-local-dev
      test_mode: ${{ github.event_name == 'pull_request' && 'fast' || 'full' }}
    secrets:
      RPC_URL: ${{ secrets.DEV_SEPOLIA_URL }}
      WS_RPC_URL: ${{ secrets.DEV_WS_SEPOLIA_URL }}
      TEST_ACCOUNT_ADDRESS: ${{ secrets.TEST_ACCOUNT_ADDRESS }}
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY }}
      TEST_ACCOUNT_ADDRESS_2: ${{ secrets.TEST_ACCOUNT_ADDRESS_2 }}
      TEST_ACCOUNT_PRIVATE_KEY_2: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY_2 }}
      TEST_ACCOUNT_ADDRESS_3: ${{ secrets.TEST_ACCOUNT_ADDRESS_3 }}
      TEST_ACCOUNT_PRIVATE_KEY_3: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY_3 }}
      TEST_ACCOUNT_PUBLIC_KEY_3: ${{ secrets.TEST_ACCOUNT_PUBLIC_KEY_3 }}
      AUTH_TOKEN: ${{ secrets.DEV_AUTH_TOKEN }}
