name: "Tag Official Docker Image as Latest"

on:
  push:
  workflow_dispatch: {}
  release:
    types: [published]

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  tag_official_image_as_latest:
    if: github.repository_owner == 'NethermindEth'
    runs-on: ubuntu-latest
    steps:
      - name: Set tag from ref
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v.3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Tag and push as latest using buildx
        run: docker buildx imagetools create --tag nethermind/juno:latest nethermind/juno:v0.15.17

      - name: Clean up Docker config
        if: always()
        run: rm -f ${HOME}/.docker/config.json
