name: "Tag Official Docker Image as Latest"

on:
  workflow_call:
    inputs:
      tag_name:
        description: "Git tag to mark as latest"
        required: true
        default: ""
        type: string
      repo_type:
        description: "Repository type (official or non-official)"
        required: true
        type: string
  release:
    types: [published]

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  tag_official_image_as_latest:
    if: github.repository_owner == 'NethermindEth'
    runs-on: ubuntu-latest
    steps:
      - name: Set TAG and REPO env vars
        run: |
          if [ "${{ github.event_name }}" = "workflow_call" ]; then
            echo "TAG=${{ inputs.tag_name }}" >> $GITHUB_ENV
            echo "REPO=${{ inputs.repo_type == 'official' && 'nethermind' || 'nethermindeth' }}" >> $GITHUB_ENV
          else
            echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
            echo "REPO=nethermind" >> $GITHUB_ENV
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v.3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Tag and push as latest using buildx
        run: docker buildx imagetools create --tag ${{ env.REPO }}/juno:latest ${{ env.REPO }}/juno:${{ env.TAG }}

      - name: Clean up Docker config
        if: always()
        run: rm -f ${HOME}/.docker/config.json
