name: Test Documentation Build

on:
  # pull_request:
  #   branches:
  #     - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version-file: docs/.nvmrc
          cache: npm
          cache-dependency-path: docs

      - name: Install dependencies
        run: npm ci
        working-directory: docs
      - name: Build website
        run: npm run build
        working-directory: docs
