name: Minimum Supported Rust

on:
  pull_request:
    branches:
      - main
    paths:
      - docs/docs/running-juno.md
      - .github/workflows/find-smallest-rust.yml
      - core/rust/*
      - vm/rust/*
      - starknet/compiler/rust/*
  workflow_dispatch:


permissions:
  issues: write # Required for sending comments
  pull-requests: write # Required for sending comments

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  find-smallest-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Find smallest supported Rust version
        id: rust-version
        uses: derrix060/detect-rust-minimum-version@v1.1.0
        with:
          paths: core/rust/,vm/rust/,starknet/compiler/rust/
          locked: "true" # Enforce using Cargo.lock to prevent dependency drift
          min: "1.78.0" # Cargo.lock v4 requires Rust 1.78+
      - name: Send notification on PR
        uses: actions/github-script@v7
        with:
          script: |
            const msrv = '${{ steps.rust-version.outputs.highest-msrv }}'
            const previous_msrv = '1.87.0'

            if (msrv != previous_msrv) {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: 'Minimum supported Rust version is `' + msrv + '`, previous `' + previous_msrv + '`.  Please update the README file, the Makefile, and this workflow.'
              })
            }

      - name: "Check README and Makefile"
        run: |
          set -euxo pipefail
          echo "Checking if version is set in docs/docs/running-juno.md"
          cat docs/docs/running-juno.md | grep "\[Rust\]" | grep "${{ steps.rust-version.outputs.highest-msrv }}"
          echo "Checking makefile"
          cat Makefile | grep "MINIMUM_RUST_VERSION = ${{ steps.rust-version.outputs.highest-msrv }}"
