name: Juno Test
on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Run Tests
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.21' ]
        os: [ ubuntu-latest, macOS-latest, self-hosted-linux-arm64]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up go
        uses: actions/setup-go@v4.1.0
        with:
          go-version-file: go.mod
          cache: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: vm/rust
      - name: Install deps
        run: make install-deps
      - name: Tests
        run: make test-cover
      - name: Benchmark
        run: make benchmarks
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          fail_ci_if_error: true
          files: ./coverage/coverage.out
          verbose: true
