name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - name: Install Jemalloc (Ubuntu or self-hosted)
        run: sudo apt-get update -qq && sudo apt-get install -y libjemalloc-dev libjemalloc2 -y
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
