name: Load tests

on: 
  workflow_dispatch:
    inputs:
      NODE_URL:
        description: 'Node Address, e.g http://127.0.0.1:6060'
        required: true
      VUS:
        description: 'Virtual Users per test case'
        required: true
        default: '2'
      DURATION:
        description: 'Duration of the test'
        required: true
        default: '300s'
        
jobs:
  k6_load_test:
    name: k6 Load Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Juno Smoke Tests
        uses: actions/checkout@v3.5.2
        with:
          repository: NethermindEth/juno-smoke-tests
          token: ${{ secrets.REPOSITORY_DISPATCH_TOKEN }}

      - name: Run local k6 test
        uses: grafana/k6-action@v0.3.0
        with:
          filename: load-tests/test_cases.js
          flags: --out json=results.json
        env:
          VUS: ${{ github.event.inputs.VUS }}
          DURATION: ${{ github.event.inputs.DURATION }}
          NODE_URL: ${{ github.event.inputs.NODE_URL }}

      - name: Upload performance test results
        uses: actions/upload-artifact@v3
        with:
          name: k6-report
          path: results.json

