name: Prepare Draft Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write

jobs:
  build-binaries:
    name: Build Binaries
    if: github.repository_owner == 'NethermindEth'
    uses: ./.github/workflows/build-binaries.yml

  docker-image:
    name: Build and Push Docker Image
    if: github.repository_owner == 'NethermindEth'
    uses: ./.github/workflows/docker-image-build-push.yml
    with:
      repo_type: "non-official"
    secrets: inherit

  tag-non-official-latest:
    name: Tag Non-Official Image as Latest
    if: github.repository_owner == 'NethermindEth'
    needs: [docker-image]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Tag non-official image as latest
        run: docker buildx imagetools create --tag nethermindeth/juno:latest nethermindeth/juno:${{ needs.docker-image.outputs.tag }}

      - name: Clean up Docker config
        if: always()
        run: rm -f ${HOME}/.docker/config.json

  create-release:
    name: Create Draft Release
    if: github.repository_owner == 'NethermindEth'
    needs: [build-binaries, docker-image]
    runs-on: ubuntu-latest
    steps:
      - name: Download binaries
        uses: actions/download-artifact@v4
        with:
          pattern: juno-*.zip
          merge-multiple: true
          path: binaries

      - name: Create Draft GitHub Release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda
        with:
          tag_name: ${{ needs.docker-image.outputs.tag }}
          name: ${{ needs.docker-image.outputs.tag }}
          generate_release_notes: true
          draft: true
          files: |
            binaries/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

