name: starknet-go tests

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        required: false
        default: '1ede19210c10f1f1f9c3cb49a42f737cd90eda5e'
        type: string
      rpc_version:
        description: 'The RPC version to test (v0_8 or v0_9)'
        required: true
        type: string
    secrets:
      TEST_RPC_URL:
        required: true
      TEST_WS_RPC_URL:
        required: false
      AUTH_TOKEN:
        required: true
      STARKNET_PRIVATE_KEY:
        required: false
      STARKNET_PUBLIC_KEY:
        required: false
      STARKNET_ACCOUNT_ADDRESS:
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v5
        with:
          repository: NethermindEth/starknet.go
          ref: ${{ inputs.ref }}

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: go mod download

      - name: Configure test environment variables
        run: |
          echo "HTTP_PROVIDER_URL=${{ secrets.TEST_RPC_URL }}/${{ inputs.rpc_version }}?apikey=${{ secrets.AUTH_TOKEN }}" >> $GITHUB_ENV
          echo "WS_PROVIDER_URL=${{ secrets.TEST_WS_RPC_URL }}/${{ inputs.rpc_version }}?apikey=${{ secrets.AUTH_TOKEN }}" >> $GITHUB_ENV
          echo "STARKNET_PRIVATE_KEY=${{ secrets.STARKNET_PRIVATE_KEY }}" >> $GITHUB_ENV
          echo "STARKNET_PUBLIC_KEY=${{ secrets.STARKNET_PUBLIC_KEY }}" >> $GITHUB_ENV
          echo "STARKNET_ACCOUNT_ADDRESS=${{ secrets.STARKNET_ACCOUNT_ADDRESS }}" >> $GITHUB_ENV

      - name: Run RPC tests
        working-directory: rpc
        env:
          #  In starknet version 0.14.0 `pending` block is replaced by 'pre_confirmed' block, 
          #  thus there will be no more pending transcations with `pending` semantics.
          TESTS_TO_SKIP: "TestSubscribePendingTransactions"
        run: go test -skip "$TESTS_TO_SKIP" -timeout 1200s -v -env testnet .
