name: starknet-rs tests

on:
  workflow_dispatch:
    inputs:
      NODE_URL:
        description: 'URL of the node to test against'
        required: true

jobs:
  starknet-rs-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v3.5.3
      with:
        repository: xJonathanLEI/starknet-rs

    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Run tests in jsonrpc.rs
      run: |
        cd starknet-providers && cargo test --test jsonrpc
      env:
        STARKNET_RPC: ${{ github.event.inputs.NODE_URL }}