name: starknet-rs tests

on:
  workflow_dispatch:
    inputs:
      NODE_URL:
        description: 'URL of the node to test against'
        required: true

jobs:
  starknet-rs-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v3.5.3
      with:
        repository: xJonathanLEI/starknet-rs
        ref: starknet/v0.6.0

    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Run jsonrpc tests
      run: |
        cd starknet-providers && cargo test jsonrpc
        cd ../starknet-accounts && cargo test jsonrpc -- --skip can_declare_cairo0_contract_with_jsonrpc
      env:
        STARKNET_RPC: ${{ github.event.inputs.NODE_URL }}

