name: starknet-js tests

on:
  workflow_call:
    inputs:
      test_mode:
        type: string
        default: 'full'
        description: 'Test mode to run (fast or full)'
      ref:
        type: string
        default: 'v8.0.0-beta.4'
        description: 'starknet.js version/tag to test'
    secrets:
      TEST_RPC_URL:
        required: false
      TEST_WS_URL:
        required: false
      TEST_ACCOUNT_ADDRESS:
        required: false
      TEST_ACCOUNT_PRIVATE_KEY:
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          repository: starknet-io/starknet.js
          ref: ${{ inputs.ref }}
  
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
  
      - name: Install dependencies
        run: npm ci
      
      - name: Set test configuration
        id: tests
        run: |
          if [ "${{ inputs.test_mode }}" == "fast" ]; then
            echo "tests=rpcProvider.test.ts transactionReceipt.test.ts rpcChannel.test.ts defaultProvider.test.ts" >> $GITHUB_OUTPUT
          else
            echo "tests=rpcProvider.test.ts transactionReceipt.test.ts rpcChannel.test.ts defaultProvider.test.ts contract.test.ts cairo1v2.test.ts cairo1v2_typed.test.ts cairo1.test.ts account.test.ts account.starknetId.test.ts" >> $GITHUB_OUTPUT
          fi
      
      - name: Run tests (${{ inputs.test_mode }} mode)
        # "waitForBlock pending" is ignored because starknet.js waits till current block number to equal target pending block number, 
        # but retry interval is 5s second and next time current block number is updated, it is ahead of target block due to shorter block times. 
        # This leads the test to fail with time-out
        run: npm test -- ${{ steps.tests.outputs.tests }} --testNamePattern="^(?!.*(getSyncingStats|traceTransaction|waitForBlock pending)).*$"
        env:
          TEST_RPC_URL: ${{ secrets.TEST_RPC_URL }}
          TEST_WS_URL: ${{ secrets.TEST_WS_URL }}
          TEST_ACCOUNT_ADDRESS: ${{ secrets.TEST_ACCOUNT_ADDRESS }}
          TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY }}
          TX_VERSION: 0x3
