name: starknet-rs tests

on:
  workflow_call:
    secrets:
      STARKNET_RPC:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
        with:
          repository: xJonathanLEI/starknet-rs
          ref: starknet-providers/v0.10.0

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Run jsonrpc tests
        run: |
          cd starknet-providers && cargo test jsonrpc
          cd ../starknet-accounts && cargo test jsonrpc
        env:
          STARKNET_RPC: ${{ secrets.STARKNET_RPC }}
          RUST_BACKTRACE: full