name: starknet-rs tests

on:
  workflow_call:
    secrets:
      STARKNET_RPC:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          repository: xJonathanLEI/starknet-rs
          ref: starknet/v0.15.0

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Run jsonrpc tests
        run: |
          cd starknet-providers && cargo test jsonrpc -- --skip jsonrpc_get_block_with_receipts
          cd ../starknet-accounts
          # TODO: Once SDK is updated, remove ignore for declare tests
          cargo test jsonrpc -- \
            --skip can_declare_cairo0_contract_with_jsonrpc \
            --skip can_estimate_declare_v3_fee_with_jsonrpc \
            --skip can_declare_cairo1_contract_v3_with_jsonrpc
        env:
          STARKNET_RPC: ${{ secrets.STARKNET_RPC }}
          RUST_BACKTRACE: full
