name: Sync First 100 Blocks Smoke Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  run_smoke_tests:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4.1.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build docker image
        run: docker build -t nethermindeth/juno .
        
      - name: Checkout Juno Smoke Tests
        uses: actions/checkout@v3.5.2
        with:
          repository: NethermindEth/juno-smoke-tests
          token: ${{ secrets.REPOSITORY_DISPATCH_TOKEN }}

      - name: Run smoke tests
        run: |
          cd smoke-tests/node_tests
          go test -v -run TestMonitorNodeSync -args -targetBlock=$TARGET_BLOCK -timeout=$TIMEOUT
        env:
          TARGET_BLOCK: 100
          TIMEOUT: 10m
          JUNO_PARAMETERS: "--network mainnet --eth-node ${{ secrets.ETH_NODE_MAINNET }}"
